<div class="panel panel-default">
  <form id="formSearch" [formGroup]="formSearch">
      <div class="panel-heading">
          <strong class="text-u-c">
              <i class="fa fa-th"></i>
              <span>Thông tin tìm kiếm</span>
          </strong>
      </div>
        <div class="panel-body padding-xl ui-g">
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Tháng</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="month" maxlength="50" autofocus>
            </div>
            <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Năm</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <input class="form-control ng-pristine ng-invalid ng-touched" formControlName="year" maxlength="50" >
            </div>
          </div>
          
          <div class="ui-g-12">
            <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Loại hóa đơn</label>
            <div class="ui-g-12 ui-md-6 ui-lg-3 nowrap">
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"  formControlName="type" class="form-check-input control-label" id="type1" [value]="-1" name="type" [checked]="true">
                  <i></i>
                  Tất cả
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"  formControlName="type" class="form-check-input control-label" id="type2" [value]="1" name="type">
                  <i></i>
                  Hóa đơn điện
                </label>
              </div>
              <div class="form-check-inline">
                <label class="i-checks">
                  <input type="radio"  formControlName="type" class="form-check-input control-label" id="type2" [value]="2" name="type">
                  <i></i>
                  Hóa đơn nước
                </label>
              </div>
              <app-control-messages [control]="f['type']"></app-control-messages>
            </div>
          </div>
      </div>
      <div class="panel-footer vt-area-button">
        <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info" ><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
  </form>
</div>